@inherits LayoutComponentBase

<div class="page">
    <aside class="sidebar">
        <NavMenu />
    </aside>

    <main class="main-surface">
        <header class="top-row px-4">
            <a href="https://github.com/DimitrovViktor/Spendings-Checker" target="_blank" rel="noopener noreferrer">GitHub</a>
            <a href="https://github.com/DimitrovViktor" target="_blank" rel="noopener noreferrer">Viktor</a>
            <a href="https://github.com/ValeriStavrev" target="_blank" rel="noopener noreferrer">Valeri</a>
        </header>

        <article class="content px-4">
            <div class="content-surface">
                @Body
            </div>
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>