@page "/"

<PageTitle>Main</PageTitle>

<h1>Spendings Checker</h1>
This app checks:
<br>
<br>
- total amount of money spent
<br>
- money spent on subscriptions
<br>
- ongoing subscriptions
<br>
- cancelled subscriptions
<br>
